<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="SqlConnection" connectionString="Host=linhvtpostgresql.postgres.database.azure.com;Port=5432;Ssl Mode=Require;Username=LinhVT@linhvtpostgresql;Password=123456a@;Database=db_boring_data"></add>-->
    <add name="SqlConnection" connectionString="Host=localhost;Port=5432;Username=postgres;Password=123456a@;Database=db_boring_data"></add>
  </connectionStrings>
</configuration>